@model IEnumerable<DVTrack.Models.Meet>

    @{
        ViewBag.Title = "Schedule";
    }
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                @ViewBag.Message
            </h3>
        </div>

        <div class="panel-body">
            <a href="~/Meets/Calendar">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar View
            </a>
            @*<a href="~/Docs/2016Schedule.pdf" target="_blank">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print Schedule
            </a>*@


            <div class="table-responsive">
                <section id="no-more-tables">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Event</th>
                                <th>Location</th>
                                <th>Notes</th>
                                <th>Results</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-title="Date/Time">
                                        @Html.ValueFor(model => item.MeetDate, "{0:dddd}")
                                        <br />@Html.ValueFor(model => item.MeetDate, "{0:MMMM dd, yyyy}")
                                        <br />@Html.ValueFor(model => item.MeetDate, "{0:hh:mm tt}")
                                    </td>
                                    <td data-title="Event">@Html.ValueFor(model => item.MeetTitle)</td>
                                    <td data-title="Location">
                                        @Html.ValueFor(model => item.LocationName)
                                        <br />@Html.ValueFor(model => item.LocationAddress1)
                                        <br />@Html.ValueFor(model => item.LocationAddress2)
                                    </td>
                                    <td data-title="Notes">@Html.Raw(item.Notes)</td>
                                    <td data-title="Results">
                                        @if (!String.IsNullOrWhiteSpace(item.ResultLink)) { 
                                            <a target="_blank" href="@item.ResultLink">Results</a>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(item.PhotoLink)) { 
                                        <br />
                                        <a target="_blank" href="@item.PhotoLink">Photos</a>
                                        }
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td colspan="5"><h6>*Schedule subject to change</h6></td></tr></tfoot>
                    </table>
                </section>

            </div>
        </div>
    </div>
