@model DVTrack.Models.BoosterEvent

@{
    ViewBag.Title = "Create";
}
@section MyScripts {

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datetimepicker({
            });
        });
    </script>
}
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BoosterEvent</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDescription)
            @Html.ValidationMessageFor(model => model.EventDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
                <div class="row">
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div class='input-group date' id='datepicker'>
                                <input type='text' class="form-control" name="EventDate" id="EventDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                        @Html.ValidationMessageFor(model => model.EventDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventLocation)
            @Html.ValidationMessageFor(model => model.EventLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDetails)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDetails)
            @Html.ValidationMessageFor(model => model.EventDetails)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventImgSrc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventImgSrc)
            @Html.ValidationMessageFor(model => model.EventImgSrc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventType)
            @Html.ValidationMessageFor(model => model.EventType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
