@model DVTrack.Models.BoosterEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BoosterEvent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDetails)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDetails)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventImgSrc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventImgSrc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
